src/StatefullWorkflow.Config.WebService.Tests/Service References/StatefullConfigServiceReference/StatefullConfig.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StatefullConfig" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63869/StatefullConfig.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63869/StatefullConfig.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63869/StatefullConfig.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StatefullWorkflow.Config.WebService.DataContracts" />
      <xsd:import schemaLocation="http://localhost:63869/StatefullConfig.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatefullConfig_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IStatefullConfig_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStatefullConfig_GetWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflow" />
  </wsdl:message>
  <wsdl:message name="IStatefullConfig_GetWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IStatefullConfig_UpdateWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkflow" />
  </wsdl:message>
  <wsdl:message name="IStatefullConfig_UpdateWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IStatefullConfig_InsertWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertWorkflow" />
  </wsdl:message>
  <wsdl:message name="IStatefullConfig_InsertWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertWorkflowResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatefullConfig">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatefullConfig/GetData" message="tns:IStatefullConfig_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatefullConfig/GetDataResponse" message="tns:IStatefullConfig_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatefullConfig/GetWorkflow" message="tns:IStatefullConfig_GetWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatefullConfig/GetWorkflowResponse" message="tns:IStatefullConfig_GetWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatefullConfig/UpdateWorkflow" message="tns:IStatefullConfig_UpdateWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatefullConfig/UpdateWorkflowResponse" message="tns:IStatefullConfig_UpdateWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatefullConfig/InsertWorkflow" message="tns:IStatefullConfig_InsertWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatefullConfig/InsertWorkflowResponse" message="tns:IStatefullConfig_InsertWorkflow_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStatefullConfig" type="tns:IStatefullConfig">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IStatefullConfig/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflow">
      <soap:operation soapAction="http://tempuri.org/IStatefullConfig/GetWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkflow">
      <soap:operation soapAction="http://tempuri.org/IStatefullConfig/UpdateWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWorkflow">
      <soap:operation soapAction="http://tempuri.org/IStatefullConfig/InsertWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatefullConfig">
    <wsdl:port name="BasicHttpBinding_IStatefullConfig" binding="tns:BasicHttpBinding_IStatefullConfig">
      <soap:address location="http://localhost:63869/StatefullConfig.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>