src/StatefullWorkflow.Config.WebService.Tests/Service References/StatefullConfigServiceReference/StatefullConfig2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63869/StatefullConfig.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StatefullWorkflow.Config.WebService.DataContracts" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StatefullWorkflow.Config.WebService.DataContracts" minOccurs="0" name="GetWorkflowResult" nillable="true" type="q1:WorkflowDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StatefullWorkflow.Config.WebService.DataContracts" minOccurs="0" name="workflow" nillable="true" type="q2:WorkflowDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWorkflowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StatefullWorkflow.Config.WebService.DataContracts" minOccurs="0" name="workflow" nillable="true" type="q3:WorkflowDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertWorkflowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>