src/StatefullWorkflow.Config.WebService.Test/Service References/StatefullConfigServiceReference/StatefullConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StatefullWorkflow.Config.WebService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StatefullWorkflow.Config.WebService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63869/StatefullConfig.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WorkflowDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activities" nillable="true" type="tns:ArrayOfStateActivityDC" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="States" nillable="true" type="tns:ArrayOfStateDC" />
      <xs:element minOccurs="0" name="Transitions" nillable="true" type="tns:ArrayOfStateTransitionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowDC" nillable="true" type="tns:WorkflowDC" />
  <xs:complexType name="ArrayOfStateActivityDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateActivityDC" nillable="true" type="tns:StateActivityDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateActivityDC" nillable="true" type="tns:ArrayOfStateActivityDC" />
  <xs:complexType name="StateActivityDC">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AuthorisedRoles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AuthorisedUsers" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateActivityDC" nillable="true" type="tns:StateActivityDC" />
  <xs:complexType name="ArrayOfStateDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateDC" nillable="true" type="tns:StateDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateDC" nillable="true" type="tns:ArrayOfStateDC" />
  <xs:complexType name="StateDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnEntryStateAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnExitStateAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateDC" nillable="true" type="tns:StateDC" />
  <xs:complexType name="ArrayOfStateTransitionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateTransitionDC" nillable="true" type="tns:StateTransitionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateTransitionDC" nillable="true" type="tns:ArrayOfStateTransitionDC" />
  <xs:complexType name="StateTransitionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetStateId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trigger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateTransitionDC" nillable="true" type="tns:StateTransitionDC" />
</xs:schema>